* {
    margin: 0;
    padding: 0;
    position: relative;
}

#templatemo_header h1{
    font: 39px 'Great Vibes', Helvetica, sans-serif;
    color: #fff;
    text-shadow: 4px 4px 3px rgba(0,0,0,0.1); 
}

#templatemo_header h3{
    font: 33px 'Great Vibes', Helvetica, sans-serif;
    color: #fff;
    text-shadow: 4px 4px 3px rgba(0,0,0,0.1); 
}

#templatemo_menu{
    position: relative;
}

#fixedBackground{
   position: fixed;
   height: 100%;
   width: 960px;
   background: url(../imagini/index/templatemo_main_bg.gif) repeat-y;
   margin: 0 auto;
   padding: 0px 10px;
   left: 0;
   right: 0;
}

.handWriting h1{
    font: 29px 'Great Vibes', Helvetica, sans-serif;
    text-shadow: 4px 4px 3px rgba(0,0,0,0.1); 
}

.handWriting h2{
    font: 25px 'Great Vibes', Helvetica, sans-serif;
    text-shadow: 4px 4px 3px rgba(0,0,0,0.1); 
}

.handWriting h3{
    font: 20px 'Great Vibes', Helvetica, sans-serif;
    text-shadow: 4px 4px 3px rgba(0,0,0,0.1); 
}

.handWriting29{
    font: 29px 'Great Vibes', Helvetica, sans-serif;
    text-shadow: 4px 4px 3px rgba(0,0,0,0.1); 
}

.handWriting25{
    font: 25px 'Great Vibes', Helvetica, sans-serif;
    text-shadow: 4px 4px 3px rgba(0,0,0,0.1); 
}

.handWriting20{
    font: 20px 'Great Vibes', Helvetica, sans-serif;
    text-shadow: 4px 4px 3px rgba(0,0,0,0.1); 
}

.simpleContent{
    padding-left: 35px;
    padding-top: 15px;
    padding-bottom: 35px;
    font-size: 1.3em;
    line-height: 200%;
    color: #787f8c;
}

.simpleContent h1{
    /*padding: 5px;*/
    color: #0099CC;
}

#templatemo_left{
    z-index: 2;
}

#templatemo_right{
    z-index: 2;
}

#footer{
    z-index: 1;
}

#auth{
    padding: 30px;
    text-align: center;
}

#auth table{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    color: #0099CC;
}

#auth input {
    border-color: #0099CC;
    border-width: 1px;
}

a:link { 
    color: #0099CC; text-decoration:none;
}

#unauthorized{
    text-align: center;
    padding: 30px;
}
